@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    background-color:#08ac0a;
    color: white;
    
}
.btn {
    @apply transition-all duration-700 ease-in-out 
           focus:ring-4 font-medium rounded-lg 
           text-sm px-5 py-2.5 me-2 mb-2 
           focus:outline-none;
}


.group:hover .btn {
    @apply opacity-100 translate-y-0;
}

.main-color{
    color: #08ac0a;
}

.bg-main{
    background-color: #08ac0a;
}